* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table ,th, td {
    border: 1px solid black;
    border-spacing: 0;
    padding: 20px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
input {
    outline: none;
    padding: 8px;
    margin: 15px;
    margin-left: 312px;
    width: 722px;
}
section table thead th .fa-arrow-up {
    display: none;
}